.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-toolbar{
  padding:0px ;
}

mat-icon {
  margin-right: 08px;
}

.spacer{
  flex: 1 1 auto;
}

.activesidebarbutton{
  --mdc-text-button-label-text-color: blue;
}