<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    
    <mat-toolbar color="primary" class="nav-topbar-button"><span class="nav-list-h">Menu</span></mat-toolbar>
    
    <mat-nav-list class="nav-list">
      <a class="nav-list-button" mat-button routerLink="/" routerLinkActive="activesidebarbutton" [routerLinkActiveOptions]="{exact : true}"><mat-icon class="nav-list-button-icon">dashboard</mat-icon>Dashboard</a>
      <a class="nav-list-button" mat-button routerLink="/zeiterfassung" routerLinkActive="activesidebarbutton"><mat-icon class="nav-list-button-icon">alarm</mat-icon>Zeiterfassung</a>
      <a class="nav-list-button" mat-button routerLink="/abwesenheit" routerLinkActive="activesidebarbutton"><mat-icon class="nav-list-button-icon">calendar_today</mat-icon>Abwesenheit</a>
      <a class="nav-list-button" mat-button routerLink="/pause" routerLinkActive="activesidebarbutton"><mat-icon class="nav-list-button-icon">free_breakfast</mat-icon>Pausenzeiterfassung</a>
      <a class="nav-list-button" mat-button routerLink="/benutzer" routerLinkActive="activesidebarbutton"><mat-icon class="nav-list-button-icon">person</mat-icon>Benutzer</a>
      <mat-divider></mat-divider>

      <a class="nav-list-button" mat-button routerLink="/einstellungen" routerLinkActive="activesidebarbutton"><mat-icon class="nav-list-button-icon">settings</mat-icon>Einstellungen</a> 
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="nav-topbar">
      <button class="nav-topbar-button"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="nav-list-h">OEGS WPC</span>
      <span class="spacer"></span>
      <a mat-button routerLink="/benutzer"><mat-icon>person</mat-icon><span class="hide-on-small">Benutzer</span></a>
      <a mat-button (click)="Opendialog()"><mat-icon>help</mat-icon><span class="hide-on-small">Hilfe</span></a>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
