.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}
.nav-topbar{
  max-height: 65px;
  height: 10vh;
}
.nav-topbar-button{
  max-height: 65px;
  height: 10vh;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-toolbar{
  padding:0px ;
}

mat-icon {
  margin-right: 08px;
}

.spacer{
  flex: 1 1 auto;
}

.activesidebarbutton{
  --mdc-text-button-label-text-color: blue;
}

.nav-list-h{
  margin-left: 10px;
}

.nav-list-button{
  width:100%;
  padding-left: 10px;
  margin-top: 5px;
  font-size: 20px;
  justify-content: left;
}

.nav-list-button-icon{
  transform: scale(1.5);
}