<mat-sidenav-container class="sidenav-container">
    
    <mat-sidenav class="sidenav-form" opened mode="side" position="end" >
        <h1>Zeitarbeitserfassung</h1>
        <app-timeform></app-timeform>
    </mat-sidenav>
        <mat-sidenav-content class="sidenav-content">
            <button  (click)="Opendialog()" mat-raised-button color="primary"><mat-icon>alarm</mat-icon>(+) Zeitarbeitserfassung</button>
            <mat-card class="oegs-calendar-card">
               <mat-calendar [(selected)]="selected"></mat-calendar>
            </mat-card>            
        </mat-sidenav-content>
  </mat-sidenav-container>
