h1{
    margin:2% 0 2% 3%;
}

button{
    margin: 2% 2% 0 2%;
    height: 10px;
    
}
.sidenav-form{
    width: 30%;
    max-width: 600px;
}
.sidenav-content{
    height: calc(100vh - 65px);
    max-width:calc(100vh - 12% - 10px);
    
    @media(max-width:768px) {
        display: flex;  
    }
    
}